version: '3.8'
services:
  db:
    image: mysql:8.0
    container_name: mysql_faculdade
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: comercial_calcados_db
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data: